*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(fsh2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index:-1 ;
}
.text{
    margin-top: 40vh;
}
h1,p{
    color:white;
    font-weight: bold;
    /* line-height: 1.6em; */
    text-align: center;
}
h1{
    font-size: 8em;
    text-shadow: 0 8px 3px #999;
}